<strong>Olá, {{ deliveryman }}</strong>
<p>Uma entrega foi cancelada, verifique os detalhes abaixo:</p>
<p>
  <strong>Cliente</strong> {{ recipient }} <br />
  <strong>Produto</strong> {{ product }} <br />
  <br />
  <small>A entrega foi cancelada.</small>
</p>
