<strong>Olá, {{ deliveryman }}</strong>
<p>Temos uma nova entrega para você realizar. Confira os detalhes abaixo:</p>
<p>
  <strong>Cliente</strong> {{ recipient }} <br />
  <strong>Produto</strong> {{ product }} <br />
  <br />
  <small>O produto já está disponível para retirada.</small>
</p>
